@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "main";
  default: true;

  --color-btn-color: rgba(255, 255, 255, 0.1);
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-text: rgba(255, 255, 255, 0.7);
  --color-text-black: rgba(0, 0, 0, 0.7);
  --color-music-player-interface: rgba(0, 0, 0, 0.2);
  --color-volume-slider: rgba(0, 0, 0, 0.2);
  --color-queue-item: rgba(10, 10, 10, 0.45);
  --color-queue-item-highlight: rgba(255, 255, 255, 0.7);
  --color-queue-item-border-bottom: rgba(255, 255, 255, 0.2);
  --color-button-hover: rgba(255, 255, 255, 0.01);
  --color-button-active: rgba(255, 255, 255, 0.2);
  --color-button-disabled: rgba(255, 255, 255, 0.05);

  --breakpoint-xs: 20rem;
}

html,
body {
  @apply bg-black;
  @apply text-text;
}
