# BOT_TOKEN: The token for the bot used in the project.
BOT_TOKEN=

# BOT_PREFIXES: The prefixes for the bot used in the project. Seperate prefixes with whitespaces.
BOT_PREFIXES=

# DEFAULT_EMBED_COLOR: The default color for embeds ex. ffffff.
DEFAULT_EMBED_COLOR=
